
# Created by https://www.gitignore.io/api/vsco,code,typings,less

#!! ERROR: vsco is undefined. Use list command to see defined gitignore types !!#

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

node_modules
typings

tsconfig.json

src/**/*.css
src/**/*.js

